<h2 mat-dialog-title>{{'crte-inci.title' | translate}}</h2>

<mat-dialog-content>
    <form [formGroup]="form" class="create-form">

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{'crte-inci.form.title' | translate}}</mat-label>
            <input matInput formControlName="title" placeholder="E.g., Water Leakage" />
            @if(form.get('title')?.hasError('required')) {
            <mat-error>{{'crte-inci.error.title' | translate}}</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{'crte-inci.form.descp' | translate}}</mat-label>
            <textarea matInput formControlName="description" rows="3" placeholder="Describe the issue..."></textarea>

          @if(form.get('description')?.hasError('minlength')) {
            <mat-error>{{'crte-inci.error.descp' | translate}}</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{'crte-inci.form.loc' | translate}}</mat-label>

            <input matInput formControlName="location" placeholder="E.g., Building A, Floor 2" />
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()" [disabled]="isLoading">{{'crte-inci.form.cancel' | translate}}</button>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.invalid || isLoading">
        {{ isLoading ? 'Creating...' : 'Create' }}
    </button>
</mat-dialog-actions>
